
html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden;
  font-family: 'Nexa', sans-serif;
}
.App {
  text-align: center;
  --navbar-height: 3em;
}

.appContainer{
  height: 100vh;
  width: 100vw;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mapContainer{
  height: 100vh;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .mapContainer{
    height: calc(100vh - var(--navbar-height));
  } 
}

.modal-mapContainer{
  height: 600px;
  width: 100%;
}

.header{
  height: 5vh;

}

.add-photo-toggle{
  color: #a2a2a2;
}

i{
  cursor: pointer;
  z-index: 9999;
}

.photo-feed {
  overflow-y: scroll;
  height: 100vh;
  padding-bottom: 8em;
}

.photo-in-feed {
  margin: 0.5em;
  border: 3px solid green;
  border-radius: 25px;
}

.photo-in-feed img{
  border-radius: 0px 0px 20px 20px;
}

.mobile-nav-link {
  color: black !important;
  cursor: pointer;

}

.mobile-nav{
  height: var(--navbar-height);
  align-items: center;
}

.mobile-nav-link.active {
  color: green !important;
}

.wrapper-cam{
  font-size: 20px;  
  padding-top: 12px;
}


[type=file] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type=file] + label {
  background: #f15d22;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-size: inherit;
  font-weight: 500;
  margin-bottom: 1rem;
  outline: none;
  padding: 1rem 50px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
}
[type=file] + label:hover {
  background-color: #d3460d;
}
[type=file] + label.btn-1 {
  background-color: #f79159;
  box-shadow: 0 6px #f57128;
  transition: none;
}
[type=file] + label.btn-1:hover {
  box-shadow: 0 4px #f57128;
  top: 2px;
}
[type=file] + label.btn-2 {
  background-color: #99c793;
  border-radius: 50px;
  overflow: hidden;
}
[type=file] + label.btn-2::before {
  color: #fff;
  content: "\f0ee";
  font: var(--fa-font-solid);
  font-size: 100%;
  height: 100%;
  right: 130%;
  line-height: 3.3;
  position: absolute;
  top: 0px;
  transition: all 0.3s;
}
[type=file] + label.btn-2:hover {
  background-color: #497f42;
}
[type=file] + label.btn-2:hover::before {
  right: 75%;
}
[type=file] + label.btn-3 {
  background-color: #ee6d9e;
  border-radius: 0;
  overflow: hidden;
}
[type=file] + label.btn-3 span {
  display: inline-block;
  height: 100%;
  transition: all 0.3s;
  width: 100%;
}
[type=file] + label.btn-3::before {
  color: #fff;
  content: "\f0ee";
  font: var(--fa-font-solid);
  font-size: 130%;
  height: 100%;
  left: 0;
  line-height: 2.6;
  position: absolute;
  top: -180%;
  transition: all 0.3s;
  width: 100%;
}
[type=file] + label.btn-3:hover {
  background-color: #ae144f;
}
[type=file] + label.btn-3:hover span {
  transform: translateY(300%);
}
[type=file] + label.btn-3:hover::before {
  top: 0;
}

.wrapper {
  background-color: #fff;
  border-radius: 1rem;
  margin: 0 auto;
  max-width: 500px;
  padding: 2rem;
  width: 100%;
}

.footer {
  font-size: 0.8rem;
  margin-bottom: 0;
  margin-top: 3rem;
}

h1,
p {
  margin-bottom: 2rem;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 1.7rem;
}

a {
  color: #31c1ef;
  text-decoration: none;
}

.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
